In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [18]:
data = pd.read_csv('owid-covid-data.csv')

In [19]:
df = data[data.location=='India']

In [20]:
df1 = df.copy()

In [21]:
for i in range(len(df1['tests_units'])):
    print(type(df1['tests_units'].iloc[i]))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>

In [22]:
for i in range(len(df1['tests_units'])):
    df1['tests_units'].iloc[i] = str(df1['tests_units'].iloc[i])
    print(type(df1['tests_units'].iloc[i]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [23]:
def impute_mean(df):
    for i in df.columns:
        if (df[i].dtype == 'float64') | (df[i].dtype == 'int64'):
            df[i].fillna(df[i].mean(),inplace =True)
def impute_mode(df):
    for i in df.columns:
        if (df[i].dtype == 'object'):
            df[i].fillna(df[i].mode(),inplace =True)

In [24]:
impute_mean(df1)
impute_mode(df1)

In [25]:
for i in df1.columns:
    print((df1[i].isnull().sum()))

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [27]:
import datetime as dt
df1["date"]=pd.to_datetime(df1["date"])
df1["date"]=df1["date"].map(dt.datetime.toordinal)

In [34]:
df1

,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
13249,737424,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13250,737425,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13251,737426,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13252,737427,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13253,737428,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13447,737623,1003832.0,34956.0,25602.0,687.0,727.412,25.330,18.552,0.498,1.307272e+07,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13448,737624,1038716.0,34884.0,26273.0,671.0,752.690,25.278,19.038,0.486,1.343374e+07,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13449,737625,1077618.0,38902.0,26816.0,543.0,780.880,28.190,19.432,0.393,1.379187e+07,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13450,737626,1118043.0,40425.0,27497.0,681.0,810.174,29.293,19.925,0.493,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13451,737627,1155191.0,37148.0,28084.0,587.0,837.092,26.919,20.351,0.425,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66

In [35]:
rem_cols = []
for i in df1.columns:
#     print(df1[i].dtype)
    if df1[i].dtype == 'object':
        rem_cols.append(i)
df1.drop(rem_cols,axis=1,inplace = True)

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 13249 to 13451
Data columns (total 30 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date                             203 non-null    int64
 1   total_cases                      203 non-null    float64
 2   new_cases                        203 non-null    float64
 3   total_deaths                     203 non-null    float64
 4   new_deaths                       203 non-null    float64
 5   total_cases_per_million          203 non-null    float64
 6   new_cases_per_million            203 non-null    float64
 7   total_deaths_per_million         203 non-null    float64
 8   new_deaths_per_million           203 non-null    float64
 9   total_tests                      203 non-null    float64
 10  new_tests                        203 non-null    float64
 11  total_tests_per_thousand         203 non-null    float64
 12  new_tests_per_thousand           203 non-null    float64
 13  new_tests_smoothed               203 non-null    float64
 14  new_tests_smoothed_per_thousand  203 non-null    float64
 15  stringency_index                 203 non-null    float64
 16  population                       203 non-null    float64
 17  population_density               203 non-null    float64
 18  median_age                       203 non-null    float64
 19  aged_65_older                    203 non-null    float64
 20  aged_70_older                    203 non-null    float64
 21  gdp_per_capita                   203 non-null    float64
 22  extreme_poverty                  203 non-null    float64
 23  cardiovasc_death_rate            203 non-null    float64
 24  diabetes_prevalence              203 non-null    float64
 25  female_smokers                   203 non-null    float64
 26  male_smokers                     203 non-null    float64
 27  handwashing_facilities           203 non-null    float64
 28  hospital_beds_per_thousand       203 non-null    float64
 29  life_expectancy                  203 non-null    float64
dtypes: float64(29), int64(1)
memory usage: 49.2 KB

In [37]:
df1.head()

,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
13249,737424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13250,737425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13251,737426,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13252,737427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
13253,737428,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.005175e+06,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66

In [39]:

X = df1[['date','new_cases','total_tests','new_tests','stringency_index']]
X

         date  new_cases   total_tests      new_tests  stringency_index
13249  737424        0.0  4.005175e+06  123035.864865         55.309005
13250  737425        0.0  4.005175e+06  123035.864865          0.000000
13251  737426        0.0  4.005175e+06  123035.864865          0.000000
13252  737427        0.0  4.005175e+06  123035.864865          0.000000
13253  737428        0.0  4.005175e+06  123035.864865          0.000000
...       ...        ...           ...            ...               ...
13447  737623    34956.0  1.307272e+07  333228.000000         55.309005
13448  737624    34884.0  1.343374e+07  361024.000000         55.309005
13449  737625    38902.0  1.379187e+07  358127.000000         55.309005
13450  737626    40425.0  4.005175e+06  123035.864865         55.309005
13451  737627    37148.0  4.005175e+06  123035.864865         55.309005

[203 rows x 5 columns]

In [40]:
y = df1.total_cases
y

13249          0.0
13250          0.0
13251          0.0
13252          0.0
13253          0.0
           ...
13447    1003832.0
13448    1038716.0
13449    1077618.0
13450    1118043.0
13451    1155191.0
Name: total_cases, Length: 203, dtype: float64

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [62]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(n_estimators = 35, max_depth=2, random_state=0)
regr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=2, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=35, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [66]:
from sklearn import datasets, metrics
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score

In [67]:
regr.score(X_test, y_test)

0.9394596337444379

In [68]:
y_pred=regr.predict(X_test)

In [69]:
rmse_1 = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
rmse_1

70312.90422287703

In [70]:
r2_1 = r2_score(y_test,y_pred)
r2_1

0.9394596337444379

In [48]:
y_pred

array([220673.48758667,  13924.42074752, 931225.33117716, 604724.28843524,
        13924.42074752,  13924.42074752,  13924.42074752,  13924.42074752,
        13924.42074752,  13924.42074752,  13924.42074752, 670689.90688092,
        13924.42074752,  13924.42074752,  13924.42074752, 440871.15325821,
       222088.33038852, 228771.07091939,  13924.42074752,  13924.42074752,
        13924.42074752, 257124.95755225,  13924.42074752, 235051.14925813,
        13924.42074752,  13924.42074752, 575251.59180102,  13924.42074752,
        13924.42074752, 527706.38569053,  13924.42074752,  13924.42074752,
       788646.27350795,  13924.42074752,  13924.42074752, 406336.5893348 ,
        15319.10481145,  13924.42074752,  13924.42074752, 559817.63479685,
        14645.90627558])

In [127]:
 y_test

13439     767296.0
13262          0.0
13306          3.0
13348       5734.0
13280          1.0
13413     308993.0
13333        562.0
13442     849553.0
13327        165.0
13363      23077.0
13305          3.0
13409     266598.0
13406     236657.0
13311          3.0
13419     380532.0
13279          1.0
13303          3.0
13375      49391.0
13258          0.0
13396     151767.0
13329        231.0
13441     820916.0
13364      24506.0
13328        191.0
13298          3.0
13450    1118043.0
13266          0.0
13432     604641.0
13252          0.0
13389     106750.0
13378      59662.0
13310          3.0
13397     158333.0
13427     508953.0
13440     793802.0
13290          3.0
13331        439.0
13256          0.0
13438     742417.0
13313          6.0
13356      13387.0
Name: total_cases, dtype: float64

In [59]:
regr.predict([['737700','40000','1379187','358127','55']])

array([816430.7108592])